@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic);

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: #666;
    position: relative;
    overflow-x: hidden;
    }
    
.top_header h1{
    font-family: 'Open Sans', sans-serif;
    background: #F92267;
    color: white;
    padding: 10px 10px;
    line-height: 50px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

.tab {
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0px;
}


.tab>div:nth-child(odd) {
    background: #ddd;
}

.title-name{
    font-family: 'Open Sans', sans-serif;
    background: #FF76A9;
    border-radius: 10px 10px 0 0;
}

.title-icons{
    font-size: 30px;
    background: #FF76A9!important;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
.main {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
}

.info{
    font-weight: 400;
}
.date{
    font-weight: 600;
}
.time{
    font-weight: 300;
}

.footer{
    font-family: 'Open Sans', sans-serif;
    background: #F92267;
    color: white;
    padding: 10px 10px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
   width: 100%;
   position: absolute; 
   bottom: 0;
}

.footer .left {
    text-align: left;
}

.footer .right{
text-align: right;
}

.col-xs-12, .col-xs-6{
    text-align: center;
     }